In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from time import time
%matplotlib inline
import seaborn as sns
import os
import math
import string

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
cd Data

/Users/Shalu/Dropbox/Coursework/DS/KLC/Data

In [4]:
df_2014 = pd.read_csv("LoanStats2014.csv", header=1, low_memory=False)

In [8]:
df_2014.shape

(235631, 115)

In [7]:
df_2014.ix[:1,:]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,36805548,39558264.0,10400.0,10400.0,10400.0,36 months,6.99%,321.08,A,A3,Truck Driver Delivery Personel,8 years,MORTGAGE,58000.0,Not Verified,Dec-2014,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,937xx,CA,14.92,0.0,Sep-1989,710.0,714.0,2.0,42.0,NaN,17.0,0.0,6133.0,31.6%,36.0,w,5182.25,5182.25,6090.42,6090.42,5217.75,872.67,0.0,0.0,0.0,Aug-2016,321.08,Sep-2016,Aug-2016,554.0,550.0,0.0,59.0,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,162110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19400.0,NaN,NaN,NaN,7.0,9536.0,7599.0,41.5,0.0,0.0,76.0,290.0,1.0,1.0,1.0,5.0,42.0,1.0,42.0,4.0,6.0,9.0,7.0,18.0,2.0,14.0,32.0,9.0,17.0,0.0,0.0,0.0,4.0,83.3,14.3,0.0,0.0,179407.0,15030.0,13000.0,11325.0
1,38098114,40860827.0,15000.0,15000.0,15000.0,60 months,12.39%,336.64,C,C1,MANAGEMENT,10+ years,RENT,78000.0,Source Verified,Dec-2014,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,235xx,VA,12.03,0.0,Aug-1994,750.0,754.0,0.0,NaN,NaN,6.0,0.0,138008.0,29%,17.0,w,0.00,0.00,17392.37,17392.37,15000.00,2392.37,0.0,0.0,0.0,Jun-2016,12017.81,NaN,Aug-2016,739.0,735.0,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,149140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184500.0,NaN,NaN,NaN,5.0,29828.0,9525.0,4.7,0.0,0.0,103.0,244.0,1.0,1.0,0.0,47.0,NaN,NaN,NaN,0.0,1.0,4.0,1.0,2.0,8.0,5.0,9.0,4.0,6.0,0.0,0.0,0.0,4.0,100.0,0.0,0.0,0.0,196500.0,149140.0,10000.0,12000.0

In [8]:
#remove last few bad columns from csv import
df_2014 = df_2014.ix[:(len(df_2014)-3),:]

In [24]:
#remove last few bad columns from csv import
df_reduce = df_reduce.ix[:(len(df_reduce)-3),:]

In [25]:
df_reduce.tail(2)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,loan_label
232485,10131591,11982987.0,15000.0,15000.0,15000.0,60 months,25.57%,445.30,F,F5,sheriff,10+ years,MORTGAGE,80000.0,Source Verified,Jan-2014,Current,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,payoff,606xx,IL,15.57,1.0,Feb-2001,660.0,664.0,2.0,18.0,0.0,8301.0,88.3%,34.0,w,9559.25,9559.25,13804.30,13804.30,5440.75,8363.55,0.00,0.0,0.0,Aug-2016,445.30,Aug-2016,694.0,690.0,0.0,1.0,INDIVIDUAL,0.0,0.0,296813.0,9400.0,6.0,19788.0,83.0,96.9,0.0,0.0,155.0,77.0,1.0,1.0,2.0,31.0,1.0,1.0,3.0,9.0,3.0,4.0,16.0,11.0,13.0,9.0,18.0,0.0,0.0,1.0,5.0,94.1,100.0,0.0,0.0,331162.0,32666.0,2700.0,34751.0,0
232486,10071745,11923093.0,34475.0,34475.0,34475.0,36 months,17.57%,1238.93,D,D2,"Manager, Data Solutions",2 years,RENT,120000.0,Source Verified,Jan-2014,Current,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,CreditCards,300xx,GA,17.44,1.0,Mar-2006,665.0,669.0,1.0,20.0,2.0,19943.0,69.5%,27.0,f,5800.33,5800.33,38567.86,38567.86,28674.67,9831.24,61.95,0.0,0.0,Aug-2016,1238.93,Aug-2016,599.0,595.0,0.0,1.0,INDIVIDUAL,0.0,0.0,44348.0,28700.0,5.0,2334.0,5601.0,71.6,0.0,0.0,67.0,94.0,1.0,1.0,0.0,3.0,1.0,0.0,7.0,9.0,10.0,11.0,10.0,15.0,17.0,9.0,20.0,0.0,0.0,0.0,3.0,84.0,40.0,0.0,2.0,88157.0,44348.0,19700.0,59457.0,0

In [9]:
df_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235629 entries, 0 to 235628
Columns: 115 entries, id to total_il_high_credit_limit
dtypes: float64(90), object(25)
memory usage: 206.7+ MB

In [18]:
default_dates['delta_m'] = (default_dates['delta']/ np.timedelta64(30,'D')).astype(int)
print default_dates['delta_m'].describe()
float((default_dates.delta_m[default_dates['delta_m'] < 18].count()))/23629
#majority of defaults 50% first year 80% second year

count    23629.000000
mean        12.362394
std          5.793239
min          0.000000
25%          8.000000
50%         12.000000
75%         17.000000
max         31.000000
Name: delta_m, dtype: float64

0.8009649159930594

In [9]:
#let's remove features that have a lot of nulls
def count_null_df(df):
    feature_null_perc = {}
    for column in df: 
        null_sum = float(df[column].isnull().sum())
        if null_sum > 0:
            tot_col = len(df[column]) 
            null_perc = (null_sum/tot_col)*100  
            feature_null_perc[column] = null_sum, null_perc
    return feature_null_perc

In [10]:
f_null = count_null_df(df_2014)
f_null = pd.DataFrame(f_null).transpose()
f_null.sort_values(by=1, axis=0,ascending=False, inplace=True)
f_null.rename(columns = {0:"num_nulls", 1:"perc_nulls"}, inplace = True)

In [11]:
#let's remove features starting with the ones missing the most data, after inspection of these I think we can eliminate all of the ones greater than 100%
f_null_idx = f_null[f_null.perc_nulls > 10].index
len(f_null_idx)
#removing 24 columns

24

In [12]:
df_reduce = df_2014.drop(f_null_idx, axis=1)

In [13]:
del df_2014
df_reduce.shape

(235631, 91)

In [14]:
#set the default flags based off of loan status
def default_label(row):
    if row == "Current":
        return 0
    elif row == "Fully Paid":
        return 0
    elif row == "Charged Off":
        return 1
    elif row == "Default":
        return 1
    elif row == "Late (31-120 days)":
        return 1
    elif row == "Late (16-30 days)":
        return -1
    elif row == "In Grace Period":
        return -1
    else:
        return -1000

df_reduce['loan_label'] = df_reduce.loan_status.apply(lambda x: default_label(x))

df_reduce['loan_label'] = df_reduce.loan_status.apply(lambda x: default_label(x))

In [15]:
df_reduce = df_reduce[df_reduce['loan_label']!=-1]

In [26]:
df_reduce.loan_label.value_counts(dropna=False)

0    202028
1     27360
Name: loan_label, dtype: int64

In [27]:
df_reduce.ix[:5,:10]

         id   member_id  loan_amnt  funded_amnt  funded_amnt_inv        term int_rate  installment grade sub_grade
0  36805548  39558264.0    10400.0      10400.0          10400.0   36 months    6.99%       321.08     A        A3
1  38098114  40860827.0    15000.0      15000.0          15000.0   60 months   12.39%       336.64     C        C1
2  37842129  40605224.0    21425.0      21425.0          21425.0   60 months   15.59%       516.36     D        D1
3  37612354  40375473.0    12800.0      12800.0          12800.0   60 months   17.14%       319.08     D        D4
4  37662224  40425321.0     7650.0       7650.0           7650.0   36 months   13.66%       260.20     C        C3
5  37822187  40585251.0     9600.0       9600.0           9600.0   36 months   13.66%       326.53     C        C3

In [28]:
df_reduce[(df_reduce.loan_amnt != df_reduce.funded_amnt)]

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, fico_range_low, fico_range_high, inq_last_6mths, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, last_fico_range_high, last_fico_range_low, collections_12_mths_ex_med, policy_code, application_type, acc_now_delinq, tot_coll_amt, tot_cur_bal, total_rev_hi_lim, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_inq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, num_tl_30dpd, num_tl_90g_dpd_24m, num_tl_op_past_12m, pct_tl_nvr_dlq, percent_bc_gt_75, pub_rec_bankruptcies, tax_liens, tot_hi_cred_lim, total_bal_ex_mort, total_bc_limit, total_il_high_credit_limit, loan_label]
Index: []

In [17]:
print df_reduce.emp_title.unique().shape

(75353,)

In [32]:
#len(test)
df_reduce.emp_title_mod = df_reduce

In [34]:
def emp_title_group(x):
    if x in emp_title:
        return x
    else:
        return np.nan

In [35]:
#create emp_title200
#df_reduce['emp_title_200'] = df_reduce.emp_title_mod.apply(lambda x: emp_title_group(x))

In [36]:
#create df_reduce null flag
df_reduce['emp_title_flag']=0
df_reduce.ix[(df_reduce.emp_title.notnull()), 'emp_title_flag']=1

In [37]:
# emp_title null people tend to default more
df_reduce.groupby(["emp_title_flag"]).loan_label.apply(lambda x: pd.value_counts(x)/x.count().astype(float))

emp_title_flag
0               0    0.843217
                1    0.156783
1               0    0.882717
                1    0.117283
Name: loan_label, dtype: float64

In [38]:
df_reduce.loan_label.value_counts(dropna=False)

0    204704
1     27783
Name: loan_label, dtype: int64

In [39]:
df_reduce.drop(['id', 'member_id', 'funded_amnt', 'installment', 'funded_amnt_inv'], axis=1, inplace=True)
#'emp_title'

In [40]:
df_reduce.shape

(232487, 88)

In [41]:
#drop the last two records ensuring that it's a bad row
df_reduce.dropna(thresh=20, inplace=True)

In [42]:
df_reduce.shape

(232487, 88)

In [43]:
#convert interest rate to type float
df_reduce.int_rate = pd.Series(df_reduce.int_rate).str.replace('%', '').astype(float)

In [44]:
df_reduce.emp_length.value_counts(dropna=False)

10+ years    78419
2 years      20209
3 years      18021
< 1 year     17740
1 year       14397
4 years      13331
7 years      12937
5 years      12865
n/a          11871
6 years      11702
8 years      11685
9 years       9310
Name: emp_length, dtype: int64

In [45]:
#above we can convert this into numerical numbers.  Not sure what to do about the N/A folks
df_reduce.loan_status[df_reduce.emp_length == 'n/a'].value_counts()

Current               6809
Fully Paid            3192
Charged Off           1606
Late (31-120 days)     264
Name: loan_status, dtype: int64

In [46]:
#will make them zero for now, if this becomes extremely predictive then we can see what else to do.
df_reduce.replace('n/a', np.nan,inplace=True)
df_reduce.emp_length.fillna(value=0,inplace=True)

In [47]:
#right now I will assign null a value of zero and round <1 up to 1.  
df_reduce['emp_length'].replace(to_replace='[^0-9]+', value='', inplace=True, regex=True)
df_reduce['emp_length'] = df_reduce['emp_length'].astype(int)

In [48]:
df_reduce.emp_length.value_counts(dropna=False)

10    78419
1     32137
2     20209
3     18021
4     13331
7     12937
5     12865
0     11871
6     11702
8     11685
9      9310
Name: emp_length, dtype: int64

In [49]:
df_reduce.head(2)

,loan_amnt,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,loan_label,emp_title_flag
0,10400.0,36 months,6.99,A,A3,Truck Driver Delivery Personel,8,MORTGAGE,58000.0,Not Verified,Dec-2014,Current,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Credit card refinancing,937xx,CA,14.92,0.0,Sep-1989,710.0,714.0,2.0,17.0,0.0,6133.0,31.6%,36.0,w,5182.25,5182.25,6090.42,6090.42,5217.75,872.67,0.0,0.0,0.0,Aug-2016,321.08,Aug-2016,554.0,550.0,0.0,1.0,INDIVIDUAL,0.0,0.0,162110.0,19400.0,7.0,9536.0,7599.0,41.5,0.0,0.0,76.0,290.0,1.0,1.0,1.0,5.0,1.0,4.0,6.0,9.0,7.0,18.0,2.0,14.0,32.0,9.0,17.0,0.0,0.0,0.0,4.0,83.3,14.3,0.0,0.0,179407.0,15030.0,13000.0,11325.0,0,1
1,15000.0,60 months,12.39,C,C1,MANAGEMENT,10,RENT,78000.0,Source Verified,Dec-2014,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,235xx,VA,12.03,0.0,Aug-1994,750.0,754.0,0.0,6.0,0.0,138008.0,29%,17.0,w,0.00,0.00,17392.37,17392.37,15000.00,2392.37,0.0,0.0,0.0,Jun-2016,12017.81,Aug-2016,739.0,735.0,0.0,1.0,INDIVIDUAL,0.0,0.0,149140.0,184500.0,5.0,29828.0,9525.0,4.7,0.0,0.0,103.0,244.0,1.0,1.0,0.0,47.0,NaN,0.0,1.0,4.0,1.0,2.0,8.0,5.0,9.0,4.0,6.0,0.0,0.0,0.0,4.0,100.0,0.0,0.0,0.0,196500.0,149140.0,10000.0,12000.0,0,1

In [92]:
df_reduce.ix[:5,6:16]

   emp_length home_ownership  annual_inc verification_status  loan_status             purpose zip_code addr_state    dti  delinq_2yrs
0           8       MORTGAGE     58000.0        Not Verified      Current         credit_card    937xx         CA  14.92          0.0
1          10           RENT     78000.0     Source Verified   Fully Paid  debt_consolidation    235xx         VA  12.03          0.0
2           6           RENT     63800.0     Source Verified   Fully Paid         credit_card    658xx         MO  18.49          0.0
3          10       MORTGAGE    125000.0            Verified      Current                 car    953xx         CA   8.31          1.0
4           1           RENT     50000.0     Source Verified  Charged Off  debt_consolidation    850xx         AZ  34.81          0.0
5          10           RENT     69000.0     Source Verified   Fully Paid  debt_consolidation    077xx         NJ  25.81          0.0

In [51]:
df_reduce.home_ownership.value_counts(dropna=False)

MORTGAGE    118441
RENT         91342
OWN          22703
ANY              1
Name: home_ownership, dtype: int64

In [52]:
#Outlier after inspecting his credit, figured I'd just throw him into the mortgage bucket, rather than deleting.
print df_reduce.ix[(df_reduce.home_ownership=="ANY"), "home_ownership"]
df_reduce.ix[(df_reduce.home_ownership=="ANY"), "home_ownership"] = "MORTGAGE"

80688    ANY
Name: home_ownership, dtype: object

In [53]:
df_reduce.groupby(["home_ownership"]).loan_label.apply(lambda x: pd.value_counts(x)/x.count().astype(float))

home_ownership
MORTGAGE        0    0.897123
                1    0.102877
OWN             0    0.877769
                1    0.122231
RENT            0    0.859616
                1    0.140384
Name: loan_label, dtype: float64

In [54]:
print df_reduce["title"].value_counts().head(5)
print df_reduce["title"].value_counts().tail(5)

Debt consolidation         138619
Credit card refinancing     53735
Home improvement            12710
Other                       10089
Major purchase               3766
Name: title, dtype: int64
Chase debt                        1
pay off credit cards and loans    1
Business Consolidation Loan       1
Refinancing Credit Cards          1
Bills Bills Bills                 1
Name: title, dtype: int64

In [55]:
df_reduce.drop(['pymnt_plan','url', 'title' ], axis=1, inplace=True)

In [56]:
df_reduce.head(5)

,loan_amnt,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,loan_label,emp_title_flag
0,10400.0,36 months,6.99,A,A3,Truck Driver Delivery Personel,8,MORTGAGE,58000.0,Not Verified,Dec-2014,Current,credit_card,937xx,CA,14.92,0.0,Sep-1989,710.0,714.0,2.0,17.0,0.0,6133.0,31.6%,36.0,w,5182.25,5182.25,6090.42,6090.42,5217.75,872.67,0.0,0.00,0.0000,Aug-2016,321.08,Aug-2016,554.0,550.0,0.0,1.0,INDIVIDUAL,0.0,0.0,162110.0,19400.0,7.0,9536.0,7599.0,41.5,0.0,0.0,76.0,290.0,1.0,1.0,1.0,5.0,1.0,4.0,6.0,9.0,7.0,18.0,2.0,14.0,32.0,9.0,17.0,0.0,0.0,0.0,4.0,83.3,14.3,0.0,0.0,179407.0,15030.0,13000.0,11325.0,0,1
1,15000.0,60 months,12.39,C,C1,MANAGEMENT,10,RENT,78000.0,Source Verified,Dec-2014,Fully Paid,debt_consolidation,235xx,VA,12.03,0.0,Aug-1994,750.0,754.0,0.0,6.0,0.0,138008.0,29%,17.0,w,0.00,0.00,17392.37,17392.37,15000.00,2392.37,0.0,0.00,0.0000,Jun-2016,12017.81,Aug-2016,739.0,735.0,0.0,1.0,INDIVIDUAL,0.0,0.0,149140.0,184500.0,5.0,29828.0,9525.0,4.7,0.0,0.0,103.0,244.0,1.0,1.0,0.0,47.0,NaN,0.0,1.0,4.0,1.0,2.0,8.0,5.0,9.0,4.0,6.0,0.0,0.0,0.0,4.0,100.0,0.0,0.0,0.0,196500.0,149140.0,10000.0,12000.0,0,1
2,21425.0,60 months,15.59,D,D1,Programming Analysis Supervisor,6,RENT,63800.0,Source Verified,Dec-2014,Fully Paid,credit_card,658xx,MO,18.49,0.0,Aug-2003,685.0,689.0,0.0,10.0,0.0,16374.0,76.2%,35.0,w,0.00,0.00,25512.20,25512.20,21425.00,4087.20,0.0,0.00,0.0000,May-2016,17813.19,Aug-2016,689.0,685.0,0.0,1.0,INDIVIDUAL,0.0,0.0,42315.0,21500.0,4.0,4232.0,324.0,97.8,0.0,0.0,135.0,136.0,7.0,7.0,0.0,7.0,7.0,1.0,3.0,4.0,3.0,12.0,16.0,5.0,18.0,4.0,10.0,0.0,0.0,0.0,2.0,91.4,100.0,0.0,0.0,57073.0,42315.0,15000.0,35573.0,0,1
3,12800.0,60 months,17.14,D,D4,Senior Sales Professional,10,MORTGAGE,125000.0,Verified,Dec-2014,Current,car,953xx,CA,8.31,1.0,Oct-2000,665.0,669.0,0.0,8.0,0.0,5753.0,100.9%,13.0,w,9849.85,9849.85,6032.05,6032.05,2950.15,3081.90,0.0,0.00,0.0000,Aug-2016,319.08,Aug-2016,694.0,690.0,0.0,1.0,INDIVIDUAL,0.0,0.0,261815.0,5700.0,2.0,32727.0,0.0,103.2,0.0,0.0,16.0,170.0,21.0,16.0,5.0,21.0,1.0,1.0,3.0,5.0,3.0,5.0,1.0,5.0,7.0,5.0,8.0,0.0,0.0,0.0,0.0,76.9,100.0,0.0,0.0,368700.0,18007.0,4400.0,18000.0,0,1
4,7650.0,36 months,13.66,C,C3,Technical Specialist,1,RENT,50000.0,Source Verified,Dec-2014,Charged Off,debt_consolidation,850xx,AZ,34.81,0.0,Aug-2002,685.0,689.0,1.0,11.0,0.0,16822.0,91.9%,20.0,f,0.00,0.00,2281.98,2281.98,704.38,339.61,0.0,1237.99,222.8382,Aug-2015,17.70,Dec-2015,539.0,535.0,0.0,1.0,INDIVIDUAL,0.0,0.0,64426.0,18300.0,6.0,5857.0,332.0,93.2,0.0,0.0,137.0,148.0,8.0,8.0,0.0,17.0,3.0,0.0,1.0,4.0,1.0,4.0,12.0,4.0,8.0,4.0,11.0,0.0,0.0,0.0,2.0,100.0,100.0,0.0,0.0,82331.0,64426.0,4900.0,64031.0,1,1

In [57]:
df_reduce.purpose.value_counts(dropna=False)

debt_consolidation    140973
credit_card            54901
home_improvement       12874
other                  10229
major_purchase          3807
medical                 2303
small_business          2241
car                     1818
moving                  1311
vacation                1167
house                    734
renewable_energy         121
wedding                    8
Name: purpose, dtype: int64

In [58]:
df_reduce.verification_status.value_counts(dropna=False)

Source Verified    96343
Not Verified       69915
Verified           66229
Name: verification_status, dtype: int64

In [59]:
df_reduce.groupby(["verification_status"]).loan_status.apply(lambda x: pd.value_counts(x)/x.count().astype(float))
#interesting enough the Not Verified, appears to have a lower % of charged off loans

verification_status
Not Verified         Current               0.529228
                     Fully Paid            0.378760
                     Charged Off           0.078610
                     Late (31-120 days)    0.013330
                     Default               0.000072
Source Verified      Current               0.544025
                     Fully Paid            0.328566
                     Charged Off           0.108435
                     Late (31-120 days)    0.018932
                     Default               0.000042
Verified             Current               0.521675
                     Fully Paid            0.341301
                     Charged Off           0.118211
                     Late (31-120 days)    0.018753
                     Default               0.000060
Name: loan_status, dtype: float64

In [60]:
df_reduce.ix[:5,6:16]

   emp_length home_ownership  annual_inc verification_status   issue_d  loan_status             purpose zip_code addr_state    dti
0           8       MORTGAGE     58000.0        Not Verified  Dec-2014      Current         credit_card    937xx         CA  14.92
1          10           RENT     78000.0     Source Verified  Dec-2014   Fully Paid  debt_consolidation    235xx         VA  12.03
2           6           RENT     63800.0     Source Verified  Dec-2014   Fully Paid         credit_card    658xx         MO  18.49
3          10       MORTGAGE    125000.0            Verified  Dec-2014      Current                 car    953xx         CA   8.31
4           1           RENT     50000.0     Source Verified  Dec-2014  Charged Off  debt_consolidation    850xx         AZ  34.81
5          10           RENT     69000.0     Source Verified  Dec-2014   Fully Paid  debt_consolidation    077xx         NJ  25.81

In [61]:
df_reduce.addr_state.value_counts(dropna=False).head(5)

CA    32927
NY    19558
TX    18710
FL    15452
IL     9513
Name: addr_state, dtype: int64

In [62]:
#Top 4 are a huge percentage of the overall pool.  Therfore, I'm going to keep zip code as it may offer a little bit more granularity

In [63]:
df_reduce.ix[:5,14:20]

  addr_state    dti  delinq_2yrs earliest_cr_line  fico_range_low  fico_range_high
0         CA  14.92          0.0         Sep-1989           710.0            714.0
1         VA  12.03          0.0         Aug-1994           750.0            754.0
2         MO  18.49          0.0         Aug-2003           685.0            689.0
3         CA   8.31          1.0         Oct-2000           665.0            669.0
4         AZ  34.81          0.0         Aug-2002           685.0            689.0
5         NJ  25.81          0.0         Nov-1992           680.0            684.0

In [64]:
#df_current = df_2014[df_2014.loan_status == "Current" ]
#df_default = df_2014[(df_2014.loan_status=="Charged Off")| (df_2014.loan_status=="Late (31-120 days)")]
df_reduce.delinq_2yrs.value_counts(dropna=False)

0.0     184391
1.0      31399
2.0       9659
3.0       3589
4.0       1580
5.0        836
6.0        422
7.0        248
8.0        127
9.0         83
10.0        46
12.0        30
11.0        28
13.0        20
14.0         7
15.0         5
16.0         5
18.0         3
19.0         3
21.0         2
17.0         2
22.0         2
Name: delinq_2yrs, dtype: int64

In [65]:
df_reduce.ix[:5,12:20]

              purpose zip_code addr_state    dti  delinq_2yrs earliest_cr_line  fico_range_low  fico_range_high
0         credit_card    937xx         CA  14.92          0.0         Sep-1989           710.0            714.0
1  debt_consolidation    235xx         VA  12.03          0.0         Aug-1994           750.0            754.0
2         credit_card    658xx         MO  18.49          0.0         Aug-2003           685.0            689.0
3                 car    953xx         CA   8.31          1.0         Oct-2000           665.0            669.0
4  debt_consolidation    850xx         AZ  34.81          0.0         Aug-2002           685.0            689.0
5  debt_consolidation    077xx         NJ  25.81          0.0         Nov-1992           680.0            684.0

In [66]:
#transform zip code to two digits in an effort to see if it's more helpful than top 100
#df_reduce['zip_code_2digit'] = df_reduce.zip_code.apply(lambda x: x[:2])

In [67]:
#transform time from earliest credit to get feature proxying age
from datetime import datetime
dt_today = datetime.now()
df_reduce.earliest_cr_line = df_reduce.earliest_cr_line.apply(lambda x: (((dt_today-pd.to_datetime(x))/\
                                                                        np.timedelta64(365,'D')).astype(int)))

In [68]:

df_reduce.earliest_cr_line.value_counts(dropna=False).head(5)

15    17025
16    16756
14    15640
17    14740
13    13808
Name: earliest_cr_line, dtype: int64

In [69]:
#there isn't a large delta between these two numbers, I think both using the averages
df_reduce["fico_avg"] = ((df_reduce.fico_range_high+df_reduce.fico_range_low)/2)

In [70]:
df_reduce["last_fico_avg"] = ((df_reduce.last_fico_range_high+df_reduce.last_fico_range_low)/2)

In [71]:
(df_reduce.fico_range_high-df_reduce.fico_range_low).value_counts()

4.0    232473
5.0        14
dtype: int64

In [72]:
#df_reduce[['fico_range_high', 'fico_range_low', 'fico_avg']]
#df_reduce['fico_range'] = df_reduce.fico_range_low.astype('str') + '-' + df_reduce.fico_range_high.astype('str')

In [73]:
df_reduce.ix[:3,15:]
#df_reduce.initial_list_status.value_counts(dropna=False)

,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,loan_label,emp_title_flag,fico_avg,last_fico_avg
0,14.92,0.0,27,710.0,714.0,2.0,17.0,0.0,6133.0,31.6%,36.0,w,5182.25,5182.25,6090.42,6090.42,5217.75,872.67,0.0,0.0,0.0,Aug-2016,321.08,Aug-2016,554.0,550.0,0.0,1.0,INDIVIDUAL,0.0,0.0,162110.0,19400.0,7.0,9536.0,7599.0,41.5,0.0,0.0,76.0,290.0,1.0,1.0,1.0,5.0,1.0,4.0,6.0,9.0,7.0,18.0,2.0,14.0,32.0,9.0,17.0,0.0,0.0,0.0,4.0,83.3,14.3,0.0,0.0,179407.0,15030.0,13000.0,11325.0,0,1,712.0,552.0
1,12.03,0.0,22,750.0,754.0,0.0,6.0,0.0,138008.0,29%,17.0,w,0.00,0.00,17392.37,17392.37,15000.00,2392.37,0.0,0.0,0.0,Jun-2016,12017.81,Aug-2016,739.0,735.0,0.0,1.0,INDIVIDUAL,0.0,0.0,149140.0,184500.0,5.0,29828.0,9525.0,4.7,0.0,0.0,103.0,244.0,1.0,1.0,0.0,47.0,NaN,0.0,1.0,4.0,1.0,2.0,8.0,5.0,9.0,4.0,6.0,0.0,0.0,0.0,4.0,100.0,0.0,0.0,0.0,196500.0,149140.0,10000.0,12000.0,0,1,752.0,737.0
2,18.49,0.0,13,685.0,689.0,0.0,10.0,0.0,16374.0,76.2%,35.0,w,0.00,0.00,25512.20,25512.20,21425.00,4087.20,0.0,0.0,0.0,May-2016,17813.19,Aug-2016,689.0,685.0,0.0,1.0,INDIVIDUAL,0.0,0.0,42315.0,21500.0,4.0,4232.0,324.0,97.8,0.0,0.0,135.0,136.0,7.0,7.0,0.0,7.0,7.0,1.0,3.0,4.0,3.0,12.0,16.0,5.0,18.0,4.0,10.0,0.0,0.0,0.0,2.0,91.4,100.0,0.0,0.0,57073.0,42315.0,15000.0,35573.0,0,1,687.0,687.0
3,8.31,1.0,16,665.0,669.0,0.0,8.0,0.0,5753.0,100.9%,13.0,w,9849.85,9849.85,6032.05,6032.05,2950.15,3081.90,0.0,0.0,0.0,Aug-2016,319.08,Aug-2016,694.0,690.0,0.0,1.0,INDIVIDUAL,0.0,0.0,261815.0,5700.0,2.0,32727.0,0.0,103.2,0.0,0.0,16.0,170.0,21.0,16.0,5.0,21.0,1.0,1.0,3.0,5.0,3.0,5.0,1.0,5.0,7.0,5.0,8.0,0.0,0.0,0.0,0.0,76.9,100.0,0.0,0.0,368700.0,18007.0,4400.0,18000.0,0,1,667.0,692.0

In [74]:
df_reduce.drop(['fico_range_low','fico_range_high'], axis=1, inplace=True)

In [75]:
df_reduce.drop(['last_fico_range_low','last_fico_range_high'], axis=1, inplace=True)

In [76]:
#turn util into revolvers
df_reduce.revol_util = pd.Series(df_reduce.revol_util).str.replace('%', '').astype(float)

In [77]:
df_reduce.shape

(232487, 83)

In [78]:
#drop remaining fields that aren't helpful or aren't valuable at time of loan issuance
df_reduce.drop(['out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', \
          'total_rec_prncp', 'total_rec_int'], axis=1, inplace=True)

In [79]:
df_reduce.drop(['issue_d', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee','last_pymnt_d', 'last_pymnt_amnt',
'last_credit_pull_d', 'policy_code', 'application_type', 'acc_now_delinq', 
'tot_coll_amt', 'tot_cur_bal','total_rev_hi_lim', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 
'chargeoff_within_12_mths','delinq_amnt','mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op',
'mo_sin_rcnt_tl','mths_since_recent_bc', 'mths_since_recent_inq','num_accts_ever_120_pd', 'num_actv_bc_tl',
'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0',
'num_sats','num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m','num_tl_op_past_12m','pct_tl_nvr_dlq',
'percent_bc_gt_75','tot_hi_cred_lim','total_bal_ex_mort','total_bc_limit', 'total_il_high_credit_limit'], axis=1, inplace=True)


#Not removed below
#'initial_loan_status', u'inq_last_6mths', u'collections_12_mths_ex_med', u'mths_since_last_major_derog',

In [80]:
df_reduce.shape

(232487, 32)

In [81]:
#features not in file
#features = list(df_reduce.keys())
#for i in features:
#    if i not in browsedict.BrowseNotesFile:
#        print i

In [82]:
#correl = df_reduce.corr()
#correl.loc[:,:] = np.tril(correl, k=-1)
#correl = correl.stack()
#correl[(abs(correl) > 0.55)]

In [83]:
df_reduce.drop(['total_acc', "pub_rec_bankruptcies", 'tax_liens', 'last_fico_avg'], axis=1, inplace=True)

In [84]:
df_reduce.shape

(232487, 28)

In [85]:
df_reduce.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 232487 entries, 0 to 235628
Data columns (total 28 columns):
loan_amnt                     232487 non-null float64
term                          232487 non-null object
int_rate                      232487 non-null float64
grade                         232487 non-null object
sub_grade                     232487 non-null object
emp_title                     219418 non-null object
emp_length                    232487 non-null int64
home_ownership                232487 non-null object
annual_inc                    232487 non-null float64
verification_status           232487 non-null object
loan_status                   232487 non-null object
purpose                       232487 non-null object
zip_code                      232487 non-null object
addr_state                    232487 non-null object
dti                           232487 non-null float64
delinq_2yrs                   232487 non-null float64
earliest_cr_line              232487 non-null int64
inq_last_6mths                232487 non-null float64
open_acc                      232487 non-null float64
pub_rec                       232487 non-null float64
revol_bal                     232487 non-null float64
revol_util                    232362 non-null float64
initial_list_status           232487 non-null object
collections_12_mths_ex_med    232487 non-null float64
mort_acc                      232487 non-null float64
loan_label                    232487 non-null int64
emp_title_flag                232487 non-null int64
fico_avg                      232487 non-null float64
dtypes: float64(13), int64(4), object(11)
memory usage: 51.4+ MB

In [86]:
df_reduce.head(5)

   loan_amnt        term  int_rate grade sub_grade                        emp_title  emp_length home_ownership  annual_inc verification_status  loan_status             purpose zip_code addr_state    dti  delinq_2yrs  earliest_cr_line  inq_last_6mths  open_acc  pub_rec  revol_bal  revol_util initial_list_status  collections_12_mths_ex_med  mort_acc  loan_label  emp_title_flag  fico_avg
0    10400.0   36 months      6.99     A        A3   Truck Driver Delivery Personel           8       MORTGAGE     58000.0        Not Verified      Current         credit_card    937xx         CA  14.92          0.0                27             2.0      17.0      0.0     6133.0        31.6                   w                         0.0       1.0           0               1     712.0
1    15000.0   60 months     12.39     C        C1                       MANAGEMENT          10           RENT     78000.0     Source Verified   Fully Paid  debt_consolidation    235xx         VA  12.03          0.0                22             0.0       6.0      0.0   138008.0        29.0                   w                         0.0       0.0           0               1     752.0
2    21425.0   60 months     15.59     D        D1  Programming Analysis Supervisor           6           RENT     63800.0     Source Verified   Fully Paid         credit_card    658xx         MO  18.49          0.0                13             0.0      10.0      0.0    16374.0        76.2                   w                         0.0       0.0           0               1     687.0
3    12800.0   60 months     17.14     D        D4        Senior Sales Professional          10       MORTGAGE    125000.0            Verified      Current                 car    953xx         CA   8.31          1.0                16             0.0       8.0      0.0     5753.0       100.9                   w                         0.0       5.0           0               1     667.0
4     7650.0   36 months     13.66     C        C3             Technical Specialist           1           RENT     50000.0     Source Verified  Charged Off  debt_consolidation    850xx         AZ  34.81          0.0                14             1.0      11.0      0.0    16822.0        91.9                   f                         0.0       0.0           1               1     687.0

In [88]:
print df_reduce.shape
print df_reduce.emp_title.unique().shape

(232487, 28)
(74553,)

In [90]:
df_reduce.head(5)

   loan_amnt        term  int_rate grade sub_grade                        emp_title  emp_length home_ownership  annual_inc verification_status  loan_status             purpose zip_code addr_state    dti  delinq_2yrs  earliest_cr_line  inq_last_6mths  open_acc  pub_rec  revol_bal  revol_util initial_list_status  collections_12_mths_ex_med  mort_acc  loan_label  emp_title_flag  fico_avg
0    10400.0   36 months      6.99     A        A3   Truck Driver Delivery Personel           8       MORTGAGE     58000.0        Not Verified      Current         credit_card    937xx         CA  14.92          0.0                27             2.0      17.0      0.0     6133.0        31.6                   w                         0.0       1.0           0               1     712.0
1    15000.0   60 months     12.39     C        C1                       MANAGEMENT          10           RENT     78000.0     Source Verified   Fully Paid  debt_consolidation    235xx         VA  12.03          0.0                22             0.0       6.0      0.0   138008.0        29.0                   w                         0.0       0.0           0               1     752.0
2    21425.0   60 months     15.59     D        D1  Programming Analysis Supervisor           6           RENT     63800.0     Source Verified   Fully Paid         credit_card    658xx         MO  18.49          0.0                13             0.0      10.0      0.0    16374.0        76.2                   w                         0.0       0.0           0               1     687.0
3    12800.0   60 months     17.14     D        D4        Senior Sales Professional          10       MORTGAGE    125000.0            Verified      Current                 car    953xx         CA   8.31          1.0                16             0.0       8.0      0.0     5753.0       100.9                   w                         0.0       5.0           0               1     667.0
4     7650.0   36 months     13.66     C        C3             Technical Specialist           1           RENT     50000.0     Source Verified  Charged Off  debt_consolidation    850xx         AZ  34.81          0.0                14             1.0      11.0      0.0    16822.0        91.9                   f                         0.0       0.0           1               1     687.0

In [89]:
pd.to_pickle(df_reduce, 'df_emp_1020.p')